 :root {
     --text-color: #0ABEAD;
     --text-color2: #333333;
     --orange: #F57F17;
     --light-blue: #0CBFAE;
     --link-button-blue: #09BEAD;
     --white: #FFFFFF;
     --first-font: "Poppins";
     --second-font: "Poppins Medium";
     --third-font: "Poppins Bold";
     --forth-font: "Poppins Black";
     --fith-font: "Poppins semiBold";
 }


 html {
     font-size: 10px;
 }

 body {
     font-size: 1.5rem;
     line-height: 1.5;
     padding-top: 12rem;
 }

 /* /////////////////////////////////component */
 .button {
     width: 19rem;
     height: 5.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10rem;
     cursor: pointer;
 }

 .section-head {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: var(--text-color);
 }

 .section__title {
     font-size: 5rem;
     font-family: var(--third-font);
     margin: 0;
 }

 .section__caption {
     font-size: 1.5rem;
     font-family: var(--first-font);
     letter-spacing: 0.3rem;
     margin: 0;
 }

 .section__line {
    background-color: var(--text-color);
    width: 100%;
    height: 0.3rem;
 }

 /* ////////////////////////////////////code */
 .align-items-center {
     align-items: center;
 }

 .orange {
     background-color: var(--orange);
     box-shadow: 0rem 1rem 2rem rgba(245, 127, 23, 0.24);
 }

 .blue {
     background-color: var(--link-button-blue);
     box-shadow: 0rem 1rem 2rem rgba(11, 190, 173, 0.41);
 }

 .header {
     width: 100%;
     box-shadow: 0 0 4rem rgba(4, 195, 255, 16%);
     background-color: var(--white);
     z-index: 100;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
 }

 .nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1.5rem 0;
 }

 .nav__logo {
     color: var(--text-color);
     font-family: var(--forth-font);
     font-size: 6rem;
 }

 .nav__menu {
     display: flex;
     padding: 0;
     margin: 0;
 }

 .nav__menu__item {
     list-style: none;
     margin-right: 5rem;
 }

 .nav__menu__item:last-child {
     margin-right: 0;
 }

 .nav__menu__link {
     color: var(--text-color2);
     text-decoration: none;
     font-size: 1.6rem;
     font-family: var(--second-font);
 }

 .nav__toggle-icon {
     width: 5rem;
     height: 5rem;
     display: none;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 .nav__toggle-line,
 .nav__toggle-line::after,
 .nav__toggle-line::before {
     display: block;
     background-color: var(--text-color);
     width: 4.5rem;
     height: 0.4rem;
     border-radius: 10rem;
     transition: all 150ms;
 }

 .nav__toggle-line {
     position: relative;

 }

 .nav__toggle-line::after {
     content: "";
     position: absolute;
     top: 1.3rem;
 }

 .nav__toggle-line::before {
     content: "";
     position: absolute;
     bottom: 1.3rem;
 }

 .nav__toggle--open .nav__toggle-line {
     background-color: transparent;
 }

 .nav__toggle--open .nav__toggle-line::before {
     transform: translateY(13px) rotate(45deg);
 }

 .nav__toggle--open .nav__toggle-line::after {
     transform: translateY(-13px) rotate(-45deg);
 }

 .main {}

 .Home {
     margin-top: 10rem;
     background-image: url(../Images/header-shape.svg);
     background-repeat: no-repeat;
     background-position: bottom;
     height: 82rem;
 }

 .Home__intro {
     font-family: var(--fith-font);
     color: #0CBFAE;
     font-size: 3rem;
     margin: 0;
 }

 h2 span {
     color: var(--orange);
 }

 .Home__title {
     font-family: var(--third-font);
     font-size: 5rem;
     color: #0ABEAD;
     margin: 1rem 0 0 0;
 }

 .Home__caption {
     font-family: var(--first-font);
     color: var(--text-color2);
     opacity: 0.7;
 }

 .Home__links {
     display: flex;
     gap: 3rem;
     margin-top: 4rem;
 }

 .Home__link {
     text-decoration: none;
     color: var(--white);
     font-family: var(--fith-font);
 }

 .Home__photo {
     width: 50rem;
     height: 50rem;
     background-image: url(../Images/Clip.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     border: 2rem solid #ffffff;
     border-radius: 100%;
     box-shadow: 0 0 4rem rgba(96, 233, 255, 0.27);
 }