 :root {
     --text-color: #0ABEAD;
     --text-color2: #333333;
     --orange: #F57F17;
     --light-blue: #0CBFAE;
     --link-button-blue: #09BEAD;
     --white: #FFFFFF;
     --regular-font: "Poppins";
     --medium-font: "Poppins Medium";
     --bold-font: "Poppins Bold";
     --black-font: "Poppins Black";
     --semiBold-font: "Poppins semiBold";
 }


 html {
     font-size: 10px;
 }

 body {
     font-size: 1.5rem;
     line-height: 1.5;
     padding-top: 12rem;
 }

 /* /////////////////////////////////component */
 .button {
     width: 19rem;
     height: 5.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10rem;
     cursor: pointer;
     text-decoration: none;
     color: var(--white);
     font-family: var(--semiBold-font);
 }

 .section-head {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: var(--text-color);
     margin-bottom: 8rem;
 }

 .section__title {
     font-size: 5rem;
     font-family: var(--bold-font);
     margin: 0;
 }

 .section__caption {
     font-size: 1.5rem;
     font-family: var(--regular-font);
     letter-spacing: 0.3rem;
     margin: 0;
 }

 .section__line {
     background-color: var(--text-color);
     width: 25rem;
     height: 0.2rem;
     margin-top: 3rem;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .section__line::after {
     position: absolute;
     content: "";
     width: 3.5rem;
     height: 1rem;
     border-radius: 3rem;
     background-color: var(--text-color);
 }

 /* ////////////////////////////////////code */

 .align-items-center {
     align-items: center;
 }

 .orange {
     background-color: var(--orange);
     box-shadow: 0rem 1rem 2rem rgba(245, 127, 23, 0.24);
 }

 .blue {
     background-color: var(--link-button-blue);
     box-shadow: 0rem 1rem 2rem rgba(11, 190, 173, 0.41);
 }

 .header {
     width: 100%;
     box-shadow: 0 0 4rem rgba(4, 195, 255, 16%);
     background-color: var(--white);
     z-index: 100;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
 }

 .nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1.5rem 0;
 }

 .nav__logo {
     color: var(--text-color);
     font-family: var(--black-font);
     font-size: 6rem;
 }

 .nav__menu {
     display: flex;
     padding: 0;
     margin: 0;
 }

 .nav__menu__item {
     list-style: none;
     margin-right: 5rem;
 }

 .nav__menu__item:last-child {
     margin-right: 0;
 }

 .nav__menu__link {
     color: var(--text-color2);
     text-decoration: none;
     font-size: 1.6rem;
     font-family: var(--medium-font);
 }

 .nav__toggle-icon {
     width: 5rem;
     height: 5rem;
     display: none;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 .nav__toggle-line,
 .nav__toggle-line::after,
 .nav__toggle-line::before {
     display: block;
     background-color: var(--text-color);
     width: 4.5rem;
     height: 0.4rem;
     border-radius: 10rem;
     transition: all 150ms;
 }

 .nav__toggle-line {
     position: relative;

 }

 .nav__toggle-line::after {
     content: "";
     position: absolute;
     top: 1.3rem;
 }

 .nav__toggle-line::before {
     content: "";
     position: absolute;
     bottom: 1.3rem;
 }

 .nav__toggle--open .nav__toggle-line {
     background-color: transparent;
 }

 .nav__toggle--open .nav__toggle-line::before {
     transform: translateY(13px) rotate(45deg);
 }

 .nav__toggle--open .nav__toggle-line::after {
     transform: translateY(-13px) rotate(-45deg);
 }

 .main {}

 .Home {
     margin-top: 10rem;
     background-image: url(../Images/header-shape.svg);
     background-repeat: no-repeat;
     background-position: bottom;
     height: 82rem;
 }

 .Home__intro {
     font-family: var(--semiBold-font);
     color: #0CBFAE;
     font-size: 3rem;
     margin: 0;
 }

 h2 span {
     color: var(--orange);
 }

 .Home__title {
     font-family: var(--bold-font);
     font-size: 5rem;
     color: #0ABEAD;
     margin: 1rem 0 0 0;
 }

 .Home__caption {
     font-family: var(--regular-font);
     color: var(--text-color2);
     opacity: 0.7;
 }

 .Home__links {
     display: flex;
     gap: 3rem;
     margin-top: 4rem;
 }

 .Home__link {
     text-decoration: none;
     color: var(--white);
     font-family: var(--semiBold-font);
 }

 .Home__photo {
     width: 50rem;
     height: 50rem;
     background-image: url(../Images/Clip.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     border: 2rem solid #ffffff;
     border-radius: 100%;
     box-shadow: 0 0 4rem rgba(96, 233, 255, 0.27);
 }

 .AboutUs {
     margin-top: 10rem;
 }

 .AboutUs__wrapper {
     display: flex;
     box-shadow: 0 0 4rem rgba(96, 233, 255, 0.27);
 }

 .AboutUs__wrapper__left {
     flex-basis: 48%;
 }

 .AboutUs__wrapper__right {
     flex-basis: 52%;
     padding: 5rem 4rem;
 }

 .AboutUs__img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .AboutUs__title {
     font-family: var(--semiBold-font);
     color: #333333;
     margin: 0;
     font-size: 2.5rem;
 }

 .AboutUs__caption {
     font-family: var(--regular-font);
     color: #333333;
     margin-bottom: 8rem;
 }

 .AboutUs__info {}

 .AboutUs__info__sctipt {
     font-family: var(--semiBold-font);
     color: var(--text-color);
     font-size: 1.8rem;
 }

 .AboutUs__opt {
     margin: 0;
     padding-left: 1rem;
 }

 .AbouUs__opt__item {
     list-style: none;
     position: relative;
     padding-left: 3.5rem;
     font-family: var(--regular-font);
     color: #333333;
     margin-bottom: 1rem;
 }

 .AbouUs__opt__item:last-child {
     margin-bottom: 0;
 }

 .AbouUs__opt__item::before {
     content: "";
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     margin: auto;
     width: 1.5rem;
     height: 1.5rem;
     border-radius: 100%;
     background-color: var(--orange);
 }

 .AboutUs__links {
     margin-top: 4rem;
     display: flex;
     gap: 3rem;
     width: 100%;
 }

 .AboutUs__link {}

 .services {
     margin-top: 10rem;
 }

 .service {
     text-align: center;
     background-color: #0CBFAE;
     padding: 6rem 3rem;
     position: relative;
     z-index: 1;
     height: 100%;
 }

 .service__shape {
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     z-index: -1;
 }

 .service__icon {}

 .service__title {
     font-family: var(--bold-font);
     color: var(--white);
 }

 .service__caption {
     font-family: var(--regular-font);
     font-size: 1.5rem;
     color: var(--white);
 }

 .service__purple {
     background-color: #8540FF;
 }

 .service__yellow {
     background-color: #FFC50C;
 }

 .service__pink {
     background-color: #EC407A;
 }

 .service__orange {
     background-color: #FF6331;
 }

 .service__blue {
     background-color: #13B6FF;
 }

 .service__green {
     background-color: #49AF46;
 }