@media screen and (min-width: 1400px) {
    .container {
        width: 1300px;
    }
}

@media screen and (max-width: 1400px) {
    .Home__photo {
        width: 45rem;
        height: 45rem;
    }
}

@media screen and (max-width: 1200px) {
    .nav__menu__item {
        margin-right: 3rem;
    }

    .Home__photo {
        width: 38rem;
        height: 38rem;
    }

    .Home__intro {
        font-size: 2.5rem;
    }

    .Home__title {
        font-size: 4rem;
    }

    .button {
        width: 17rem;
        height: 5rem;
    }

    .Home__links {
        margin-top: 3rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 992px) {
    .nav__logo {
        font-size: 5rem;
    }

    .nav__menu__item {
        margin-right: 2rem;
    }

    .nav__menu__link {
        font-size: 1.5rem;
    }

    .Home .row {
        flex-direction: column-reverse;
    }

    .Home__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Home__photo {
        margin: 0 auto;
    }

    .Home {
        background-image: none;
    }

    .AboutUs__wrapper {
        flex-direction: column;
    }

    .AboutUs__links {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffffff;
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 350ms;
        overflow: hidden;
    }

    .cover {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 10%);
        opacity: 0;
        transition: all 200ms;
        z-index: -1;
    }

    .cover--open {
        opacity: 1;
        z-index: 99;
    }

    .nav-menu__toggle--open {
        height: 33rem;
    }

    .nav__menu__item {
        margin-right: 0;
        margin-top: 2rem;
    }

    .nav__menu__item:last-child {
        margin-bottom: 2rem;
    }

    .nav__toggle-icon {
        display: flex;
    }
}

@media screen and (max-width: 576px) {
    .Home__content {
        text-align: center;
    }

    .Home__links {
        flex-wrap: wrap;
    }

    .Home__link {
        flex-grow: 1;
    }

    .Home__photo {
        width: 34rem;
        height: 34rem;
    }

    .AboutUs__links {
        flex-wrap: wrap;
    }

    .AboutUs__link {
        flex-grow: 1;
    }
}